body {
	margin: 0;
}

header {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid black;
	position: fixed;
	align-items: center;
	
}

a {
	color: black;
}

.logo {
	display: flex;
	padding-left: 30px;
	align-items: center;
	flex-grow: 1;
}

.logo img {
	padding-right: 12px;
}

.logo p {
	color: mediumaquamarine;
}

header nav {
	padding-right: 40px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}
