body {
	margin: 0;
}

header {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid black;
	position: fixed;
	align-items: center;
	z-index: 5;
	background-color: white;
}

a {
	color: black;
}

h2 {

}

.logo {
	display: flex;
	padding-left: 30px;
	align-items: center;
	flex-grow: 1;
}

.logo img {
	padding-right: 12px;
}

.logo p {
	color: mediumaquamarine;
}

header nav {
	padding-right: 40px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

div {
	border: 1px solid black;
}

.main {
	padding-top: 80px;
	display: flex;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: space-around;
	
}

.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;
  align-items: stretch;
}

.column.small {
  width: 240px;
}

.mom {
	display: flex;
	background-image: url("../images/img-story-main.png");
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;
	color: white;
	height: 300px;
}

.lead-story.story-text {
	font-size: 40px;
	font-family: Georgia;
}

.story-text {
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

.highlight.spin {
	display: flex;
	background-image: url("../images/img-story-2.png");
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	height: 300px;
}

.highlight.camera {
	display: flex;
	background-image: url("../images/img-story-3.png");
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	height: 300px;
}

.cat-ceo {
	display: flex;
	background-image: url("../images/img-story-1.png");
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	height: 300px;
}
